openapi: 3.1.0
info:
  title: Meta Graph API - Pages Comments Subscribed Apps API
  description: 'Graph API endpoints for reading and managing Facebook Pages -

    publishing posts and photos, retrieving Page insights, moderating

    comments, configuring Page metadata, and subscribing to webhook

    events. Authentication uses a Page access token obtained via OAuth

    2.0 with scopes such as pages_manage_posts, pages_read_engagement,

    pages_manage_metadata, pages_messaging, and pages_show_list.

    '
  version: v22.0
  contact:
    name: Meta for Developers
    url: https://developers.facebook.com/docs/pages-api
servers:
- url: https://graph.facebook.com/v22.0
  description: Meta Graph API
security:
- PageAccessToken:
  - pages_show_list
  - pages_manage_posts
  - pages_read_engagement
  - pages_manage_metadata
tags:
- name: Subscribed Apps
paths:
  /{page-id}/subscribed_apps:
    parameters:
    - $ref: '#/components/parameters/PageId'
    get:
      summary: List apps subscribed to the Page
      operationId: listSubscribedApps
      responses:
        '200':
          description: Subscribed apps
      tags:
      - Subscribed Apps
    post:
      summary: Subscribe an app to Page webhook events
      operationId: subscribePageApp
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                subscribed_fields:
                  type: string
                  description: Comma-separated event fields, e.g. feed,messages,mention.
      responses:
        '200':
          description: Subscription created
      tags:
      - Subscribed Apps
components:
  parameters:
    PageId:
      name: page-id
      in: path
      required: true
      schema:
        type: string
      description: Facebook Page ID
  securitySchemes:
    PageAccessToken:
      type: oauth2
      description: 'OAuth 2.0 Page access token. Granted scopes determine which

        endpoints can be called. Send as a Bearer token or as the

        access_token query parameter.

        '
      flows:
        authorizationCode:
          authorizationUrl: https://www.facebook.com/v22.0/dialog/oauth
          tokenUrl: https://graph.facebook.com/v22.0/oauth/access_token
          scopes:
            pages_show_list: List Pages the user manages
            pages_manage_posts: Publish and edit posts
            pages_read_engagement: Read Page content and engagement
            pages_manage_metadata: Manage Page settings and subscribed apps
            pages_messaging: Send and receive Messenger messages
            pages_read_user_content: Read user-generated content on a Page
            pages_manage_engagement: Moderate comments and reactions
